@import './clampsize.scss';
@import './colors.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: min(90%, 1000px);
    margin-inline: auto;
}

section {
    margin: 1.5rem 0;
}

body {
    font-size: $step--1;
}

img {
    max-width: 100%;
    display: block;
}

p, h2, h3 {
    margin-bottom: 1rem;
}

h2, h3 {
    font-size: $step-2;
}

p {
    font-size: $step--1;
}

.bk-brown {
    background-color: $brown;
}

.bk-brown p {
    color: $white;
}

.bk-dark {
    background-color: black;
}

.bk-dark p {
    color: $white;
}

.bk-dark h3 {
    color: $brown;
}